/* Estilos generales */
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(../view/Imagenes/InicioSesion\ .jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 800px;
  padding: 0;
}
@keyframes erroranimation {
  0% {
    background-color: rgb(255, 74, 74);
  }
  50% {
    background-color: rgb(248, 153, 153);
  }
}
.error {
  background-color: rgb(248, 153, 153);
  padding: 2%;
  border-radius: 10px;
  animation: erroranimation;
  animation-duration: 2s;
}

/* Estilos para el formulario */
.container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}
